<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <!-- Test  -->
    <add name="CON_DATA_READER" connectionString="Data Source=localhost;Initial Catalog=faviat;Integrated Security=True;" />

    <!-- Production -->
    <!--<add name="CON_DATA_READER" connectionString="server=BOSTONVODDB.UCG.COM;database=BostonSubscriptions;uid=boston_vodadmin;pwd=pass4vod7$;"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="cubelique" assembly="Cubelique.CustomWebControl" namespace="Cubelique.CustomWebControl" />
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>

</configuration>
