.white {
    color: #FFF;
}

.required {
    color: red;
}

.bold {
    font-weight: bold;
}

.f_1 {
    font-size: 1em;
}

.f_2 {
    font-size: .8em;
}

.f_3 {
    font-size: .77em;
}


.lh_1 {
    line-height: 1.8em;
}

.italic {
    font-style: italic;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

.error {
    color: red;
    font-size: .75em;
    margin-left: .4em;
}

.val_summary_style {
    color: red;
    font-size: .8em;
    margin-left: -1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}



